/* Applies a unique class - wont clash with othr module.css files */

.button {
  width: 100px;
  height: 50px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;

  &:hover {
    background-color: white;
    color: blue;
    border: 1px solid blue;
  }
}
